.ace-tooltip {
  z-index: 1030;
  letter-spacing: 1.5px;
  padding: 5px 5.5px 5px 7px;
  line-height: 1.1;
  font-family: 'Brandon Grotesque',Lato,Arial,sans-serif;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  background-color: #262626;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)';
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}
.ace-tooltip-content {
}
.ace-tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #262626;
}
.ace-tooltip.pos-top .ace-tooltip-arrow {
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-width: 5px 5px 0 5px;
}
.ace-tooltip.pos-bot .ace-tooltip-arrow {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-width: 0 5px 5px 5px;
}
.ace-tooltip.pos-left .ace-tooltip-arrow {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-width: 5px 0 5px 5px;
}
.ace-tooltip.pos-right .ace-tooltip-arrow {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-width: 5px 5px 5px 0;
}
